<div id="video-container" class="overlay" #videoContainer>
  <video  controls autoplay #videoPlayer>
  <!--<video width="520" height="250" controls autoplay #videoPlayer>-->
    <source src="http://localhost:8000/SampleVideo_720x480_10mb.mp4" >
    Your browser does not support HTML5 video.
  </video>
  <div id="video-controls" #videoControls>
    <button type="button" id="play-pause" (click)="tooglePlayPause()">Play</button>
    <input type="range" id="seek-bar" value="0">
    <button type="button" id="mute" (click)="toogleMute()">Mute</button>
    <input type="range" id="volume-bar" min="0" max="1" step="0.1" value="1">
    <button type="button" id="full-screen" (click)="toggleFullScreen()">Full-Screen</button>
  </div>
</div>
